<a href="https://colab.research.google.com/github/Omolabak5/data-and-python/blob/main/Copy_of_20_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sets

Make sure you have watched the presentation on sets here before beginning this worksheet.


---

### Exercise 1

As you learned in the presentation, testing membership of a set is much faster than of a list.

To demonstrate this, we can use a function that times how long a membership check takes for a range of list and set lengths, as well as the position of the object within each data structure.

The first function:

* Uses the `datetime.now()` function to determine the time immediately prior to the membership check and stores it in a variable
*   Performs a membership check of `num_to_find` in the `test_data`
*   Uses `datetime.now()` again to determine the exact time after the membership check
*   Computes the difference between the start and end time
*   Prints a message stating the number found and the elapsed time in microseconds.


The second function:
*   Creates a list and set of the numbers 1 to the specified `range_end` value, inclusive, and stores them in a tuple with the data type name as a string.
* Prints a message detailing the range of values and the number being checked for.
* For each test range, extracts the data and data type from the tuple and calls the `time_check_membership()` function for the first, last and middle values in the range.


TASKS:

Call the `compare_membership_check_times` function for each of the following values, e.g. `compare_membership_check_times(100)`, to compare how the membership checks compare across different length sets and lists:
* 100
* 1000
* 10000
* 100000
* 1000000
* 10000000

What to you notice about the results?

In [ ]:
from datetime import datetime

def time_check_membership(test_data, num_to_find):

  # time membership check
  start = datetime.now()
  num_to_find in test_data
  end = datetime.now()

  # calculate time elapsed and print message
  duration = end - start
  print(f"\tTime taken to find {num_to_find}: {duration.microseconds} microseconds")


def compare_membership_check_times(range_end):

  # create test data and package in a tuple with the data type name
  test_1 = ([i for i in range(1, range_end+1)], "List")
  test_2 = ({i for i in range(1, range_end+1)}, "Set")

  print("-" * 80)
  print(f"Numbers 1 to {range_end}")
  print("-" * 80)

  # time the membership check for first last and middle numbers in each range
  for test in [test_1, test_2]:
    data = test[0]
    data_type = test[1]
    print(f"{data_type}: ")
    for num in [1, range_end//2, range_end]:
      time_check_membership(data, num)

  print()


# ADD YOUR FUNCTION CALLS HERE:

compare_membership_check_times(100)
compare_membership_check_times(1000)
compare_membership_check_times(10000)
compare_membership_check_times(100000)
compare_membership_check_times(1000000)
compare_membership_check_times(10000000)

--------------------------------------------------------------------------------
Numbers 1 to 100
--------------------------------------------------------------------------------
List:
	Time taken to find 1: 5 microseconds
	Time taken to find 50: 4 microseconds
	Time taken to find 100: 6 microseconds
Set:
	Time taken to find 1: 3 microseconds
	Time taken to find 50: 3 microseconds
	Time taken to find 100: 2 microseconds

--------------------------------------------------------------------------------
Numbers 1 to 1000
--------------------------------------------------------------------------------
List:
	Time taken to find 1: 4 microseconds
	Time taken to find 500: 17 microseconds
	Time taken to find 1000: 23 microseconds
Set:
	Time taken to find 1: 3 microseconds
	Time taken to find 500: 2 microseconds
	Time taken to find 1000: 5 microseconds

--------------------------------------------------------------------------------
Numbers 1 to 10000
--------------------------------------------------------------------------------
List:
	Time taken to find 1: 4 microseconds
	Time taken to find 5000: 106 microseconds
	Time taken to find 10000: 234 microseconds
Set:
	Time taken to find 1: 5 microseconds
	Time taken to find 5000: 2 microseconds
	Time taken to find 10000: 3 microseconds

--------------------------------------------------------------------------------
Numbers 1 to 100000
--------------------------------------------------------------------------------
List:
	Time taken to find 1: 6 microseconds
	Time taken to find 50000: 6844 microseconds
	Time taken to find 100000: 2275 microseconds
Set:
	Time taken to find 1: 4 microseconds
	Time taken to find 50000: 3 microseconds
	Time taken to find 100000: 2 microseconds

--------------------------------------------------------------------------------
Numbers 1 to 1000000
--------------------------------------------------------------------------------
List:
	Time taken to find 1: 5 microseconds
	Time taken to find 500000: 16195 microseconds
	Time taken to find 1000000: 40697 microseconds
Set:
	Time taken to find 1: 4 microseconds
	Time taken to find 500000: 2 microseconds
	Time taken to find 1000000: 2 microseconds

--------------------------------------------------------------------------------
Numbers 1 to 10000000
--------------------------------------------------------------------------------
List:
	Time taken to find 1: 6 microseconds
	Time taken to find 5000000: 262600 microseconds
	Time taken to find 10000000: 606228 microseconds
Set:
	Time taken to find 1: 6 microseconds
	Time taken to find 5000000: 2 microseconds
	Time taken to find 10000000: 2 microseconds

### Exercise 2

Because elements in a set are distinct, converting a list into a set is a quick and easy way to find out it contains any duplicate data and retrieve only the unique values.

We can determine the number of duplicates in a list by converting to a set and then comparing the length of both.

**NOTE** : np.random.seed(42) fixes the way the random numbers are generated so that you are guaranteed to get the same random numbers each time you run the cell. It also means anyone else who runs the same code with the same value for the seed will get the same output.

<br>

**Task:**
* Write **two** functions that take a list of numbers as the only parameter and print the number of duplicates found. Function:
    1. Should use only list methods
    2. Should use set conversion
<br>

* Print the first 20 items in `random_numbers` list
* Call your first function with the `random_numbers` list
* Call your second function with the `random_numbers` list

<br>

**Expected output:**

[52, 93, 15, 72, 61, 21, 83, 87, 75, 75, 88, 100, 24, 3, 22, 53, 2, 88, 30, 38]
<br>
39<br>
39

In [ ]:
from numpy import random

# Set the random seed so results match expected output
random.seed(42)

# Use this list when you call your functions
random_numbers = list(random.randint(1, 101, 100))

# add your code here:

#function to count duplicate using list
def count_duplicates_list(numbers):
  unique_numbers = []
  duplicates_count = 0
  for num in numbers:
        if num in unique_numbers:
            duplicates_count += 1
        else:
            unique_numbers.append(num)
  print(duplicates_count)

#function to count duplicate using set
def count_duplicates_set(numbers):
  unique_numbers = set(numbers)
  duplicates_counts = len(numbers) - len(unique_numbers)
  print(duplicates_counts)

#call both funtions with the random number counts
print(random_numbers[:20])
count_duplicates_list(random_numbers)
count_duplicates_set(random_numbers)

[52, 93, 15, 72, 61, 21, 83, 87, 75, 75, 88, 100, 24, 3, 22, 53, 2, 88, 30, 38]
39
39

## Using Set Methods

The most common use of sets is to see where different groups of data overlap.

Working with sets is similar to the way social media sites like Facebook model relationships and interactions between people and pages.

Run the code in the cell below create the sets you'll be working with.

In [ ]:
# Run this code block to create the sets you'll use in the following exercises

# set of all friends
all_friends = {
    'Alice', 'Bob', 'Charlie', 'Diana', 'Ethan', 'Fiona', 'George', 'Hannah',
    'Ivy', 'Jack', 'Kevin', 'Liam', 'Mia', 'Noah', 'Olivia', 'Patrick', 'Quinn',
    'Rachel', 'Sam', 'Tina', 'Ulysses', 'Victoria', 'Willow', 'Xander', 'Yara',
    'Zach', 'Bryan', 'Cara', 'Derek' }

# Friends who like hiking
hiking_friends = {
    'Alice', 'Bob', 'Charlie', 'Diana', 'Ethan', 'Fiona', 'George', 'Hannah',
    'Ivy', 'Jack', 'Kevin', 'Liam', 'Mia', 'Noah', 'Olivia', 'Patrick',
    'Quinn', 'Rachel', 'Sam', 'Tina', 'Ulysses'
}

# Friends who enjoy painting
painting_friends = {
    'Charlie', 'Fiona', 'George', 'Hannah', 'Bob', 'Alice', 'Mia', 'Noah',
    'Olivia', 'Patrick', 'Quinn', 'Rachel', 'Sam', 'Tina', 'Ulysses', 'Victoria',
    'Willow', 'Xander', 'Yara', 'Zach'
}

# Friends who are into cooking
cooking_friends = {
    'Ivy', 'Jack', 'Alice', 'Kevin', 'George', 'Charlie', 'Fiona', 'Noah',
    'Olivia', 'Patrick', 'Rachel', 'Sam', 'Tina', 'Ulysses', 'Victoria',
    'Willow', 'Xander', 'Yara', 'Zach', 'Diana', 'Ethan'
}

### Exercise 3

Write a function that uses these sets and the sets methods you know to find out and print the following:
* Friends who like to hike and paint
* Friends who hike but don't cook
* Friends who like cooking and painting
* Friends who either hike or paint but not both

Expected Output:

{'Olivia', 'Mia', 'Alice', 'Bob', 'Hannah', 'Tina', 'George', 'Quinn', 'Fiona', 'Patrick', 'Ulysses', 'Sam', 'Charlie', 'Rachel', 'Noah'} <br>
{'Mia', 'Bob', 'Hannah', 'Liam', 'Quinn'} <br>
{'Xander', 'Alice', 'Mia', 'Hannah', 'Ethan', 'Ivy', 'Ulysses', 'Olivia', 'Bob', 'Jack', 'Charlie', 'Noah', 'Diana', 'George', 'Quinn', 'Sam', 'Rachel', 'Willow', 'Yara', 'Victoria', 'Tina', 'Kevin', 'Fiona', 'Patrick', 'Zach'} <br>
{'Xander', 'Ethan', 'Liam', 'Ivy', 'Willow', 'Yara', 'Victoria', 'Kevin', 'Jack', 'Diana', 'Zach'}

In [ ]:
# Write your function here

def friends_and_hobbies(set_two,set_three,set_four):
  hike_and_paint = set_two.intersection(set_three)
  hike_not_cooking = set_two.difference(set_four)
  cooking_and_painting = set_four.union(set_three)
  either_hike_or_paint = set_two.symmetric_difference(set_three)

#print the result
  print(hike_and_paint)
  print(hike_not_cooking)
  print(cooking_and_painting)
  print(either_hike_or_paint)

#call the function
friends_and_hobbies(hiking_friends,painting_friends,cooking_friends)

{'Patrick', 'Bob', 'Fiona', 'Olivia', 'Alice', 'Mia', 'Tina', 'Ulysses', 'Noah', 'Charlie', 'George', 'Rachel', 'Hannah', 'Quinn', 'Sam'}
{'Bob', 'Liam', 'Hannah', 'Quinn', 'Mia'}
{'Patrick', 'Fiona', 'Alice', 'Jack', 'Ulysses', 'Kevin', 'George', 'Willow', 'Quinn', 'Sam', 'Mia', 'Xander', 'Charlie', 'Zach', 'Rachel', 'Hannah', 'Ethan', 'Diana', 'Yara', 'Noah', 'Victoria', 'Bob', 'Olivia', 'Tina', 'Ivy'}
{'Ethan', 'Diana', 'Yara', 'Jack', 'Kevin', 'Willow', 'Victoria', 'Liam', 'Xander', 'Zach', 'Ivy'}

### Exercise 4

Write a function that uses set methods to find out which members of `all_friends` do not have any hobbies.

Expected Output:

{'Derek', 'Bryan', 'Cara'}

In [ ]:
# Write your function here
def friends_no_hobbies(set_one,set_two,set_three,set_four):
  no_hobbies = set_one.difference(set_two,set_three,set_four)

  #print result
  print(no_hobbies)

#call the function with provided sets
friends_no_hobbies(all_friends,hiking_friends,painting_friends,cooking_friends)

{'Cara', 'Derek', 'Bryan'}

### Exercise 5

Write a function to find out which friends have at least two hobbies.

Expected Output:

{'Mia', 'Alice', 'Xander', 'Hannah', 'George', 'Ethan', 'Quinn', 'Ivy', 'Ulysses', 'Sam', 'Rachel', 'Willow', 'Yara', 'Olivia', 'Bob', 'Victoria', 'Tina', 'Kevin', 'Jack', 'Fiona', 'Patrick', 'Charlie', 'Noah', 'Diana', 'Zach'}

In [ ]:
# Write your function here
def friends_two_hobbies(set_two,set_three,set_four):
  two_hobbies =  ((set_two & set_three) | (set_two & set_four) | (set_three & set_four))

  #print result
  print(two_hobbies)

#call the function with provided set
friends_two_hobbies(hiking_friends,painting_friends,cooking_friends)

{'Patrick', 'Ethan', 'Diana', 'Fiona', 'Yara', 'Alice', 'Jack', 'Ulysses', 'Noah', 'Kevin', 'George', 'Willow', 'Quinn', 'Mia', 'Sam', 'Victoria', 'Bob', 'Olivia', 'Tina', 'Xander', 'Charlie', 'Zach', 'Rachel', 'Hannah', 'Ivy'}

### Exercise 6

Write a function to find out which friends partake in exactly one of the hobbies.

Expected Output:

{'Mia', 'Xander', 'Hannah', 'Ethan', 'Liam', 'Quinn', 'Ivy', 'Willow', 'Yara', 'Bob', 'Victoria', 'Kevin', 'Jack', 'Diana', 'Zach'}

In [ ]:
# Write your function here
def friends_one_hobby(set_two,set_three,set_four):
  one_hobby =  ((set_two ^ set_three) | (set_two ^ set_four) | (set_three ^ set_four))
  print(one_hobby)

#call the function with provided set
friends_one_hobby(hiking_friends,painting_friends,cooking_friends)

{'Ethan', 'Diana', 'Yara', 'Jack', 'Kevin', 'Willow', 'Quinn', 'Mia', 'Victoria', 'Bob', 'Liam', 'Xander', 'Zach', 'Hannah', 'Ivy'}

## Exam Data

---
### Exercise 7

The exam dataset (url below) contains one row for each student, with demographic information on each, as well as their scores in maths, reading and writing.

"https://raw.githubusercontent.com/lilaceri/Working-with-data-/main/Data%20Sets%20for%20code%20divisio/exams.csv"

We are going to evaluate the data using sets. First, we need to import the data using pandas and store it in a variable called `exam_data`

Next, write a function that will:
* display the head of `exam_data`
* display the info
* display a summary of the non-numeric data (Hint: add the argument include='object' to show only the non-numeric data)

Finally, call the function to display the summary.

In [ ]:
import pandas as pd

# enter your code to import the data here:
url = "https://raw.githubusercontent.com/lilaceri/Working-with-data-/main/Data%20Sets%20for%20code%20divisio/exams.csv"
exam_data = pd.read_csv(url)


# add your function code here:

def explore_exam_data(data):
    # Display the first few rows of the dataset
    print("Head of the dataset:")
    print(data.head())

    # Display dataset information
    print("Dataset Info:")
    print(data.info())

    # Display a summary of non-numeric data
    print("Summary of non-numeric data:")
    print(data.describe(include='object'))

# Call the function with the exam_data dataset
explore_exam_data(exam_data)

Head of the dataset:
   gender ethnicity parental_education         lunch preparation_course  \
0  female   group E       some college  free/reduced               none
1    male   group C       some college      standard          completed
2  female   group B   some high school  free/reduced          completed
3    male   group D   some high school      standard          completed
4  female   group C        high school  free/reduced          completed

   math_score  reading_score  writing_score
0          65             76             71
1          75             72             69
2          62             56             61
3          60             60             59
4          34             54             55
Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gender              1000 non-null   object
 1   ethnicity           1000 non-null   object
 2   parental_education  1000 non-null   object
 3   lunch               1000 non-null   object
 4   preparation_course  1000 non-null   object
 5   math_score          1000 non-null   int64
 6   reading_score       1000 non-null   int64
 7   writing_score       1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None
Summary of non-numeric data:
       gender ethnicity parental_education     lunch preparation_course
count    1000      1000               1000      1000               1000
unique      2         5                  6         2                  2
top      male   group C       some college  standard               none
freq      504       313                244       647                638

### Exercise 8

The last item you displayed in the exercise above shows how many unique values there are for each of the non-numeric columns in the exam dataset, as well as which one is the most frequently occuring (the mode).

Write a function that uses set creation to print the unique values in each of the object datatype columns.

Call the function to view the values.

Hint: You can use `exam_data.select_dtypes(include='object')` to create a Dataframe of only the object columns. You can then access the column names using the `columns` attribute.

Expected output:

```
{'female', 'male'}
{'group C', 'group A', 'group B', 'group E', 'group D'}
{"associate's degree", 'some high school', "master's degree", 'some college', "bachelor's degree", 'high school'}
{'standard', 'free/reduced'}
{'completed', 'none'}
```

In [ ]:
# Write your function here


def unique_values_in_columns(data):

    # Filter only object (non-numeric) columns
    object_columns = data.select_dtypes(include='object')

    # Iterate through each object column and print its unique values
    for column in object_columns:
        unique_values = set(object_columns[column])  # Convert unique values to a set
        print(f"Unique values in '{column}': {unique_values}")

# Call the function with the exam_data dataset
unique_values_in_columns(exam_data)

Unique values in 'gender': {'male', 'female'}
Unique values in 'ethnicity': {'group B', 'group A', 'group E', 'group D', 'group C'}
Unique values in 'parental_education': {'some high school', "associate's degree", "bachelor's degree", 'some college', "master's degree", 'high school'}
Unique values in 'lunch': {'free/reduced', 'standard'}
Unique values in 'preparation_course': {'completed', 'none'}

### Exercise 9

You will learn more about filtering a pandas Dataframe in the next worksheet.

The function started for you below uses filtering to create three dataframes:
1. One of students whose parents have earned some type of degree
2. One of students who receive free or reduced lunches.
3. One of students who completed the preparation course

Complete the function to extract the index values of from the three dataframes and convert them into a set.

Call the function and assign the result to three variables different variables, named as you feel appropriate.

Hint: You can retrieve the index values using a dataframes `index` attribute, e.g `df.index`

In [ ]:
def create_exam_sets():
  # create set of fields from parental education col that include the word degree
  parental_education_fields = set(exam_data['parental_education'])
  degree_fields = {i for i in parental_education_fields if 'degree' in i}

  # filter dataframe for students in required categories
  degree_df = exam_data[exam_data['parental_education'].isin(degree_fields)]
  meals_df = exam_data[exam_data['lunch'] == 'free/reduced']
  course_df = exam_data[exam_data['preparation_course'] == 'completed']

  # add your code here to create the required sets:
  degree_df_set = set(degree_df.index)
  meals_df_set = set(meals_df.index)
  course_df_set = set(course_df.index)


  # Return the sets
  return degree_df_set, meals_df_set, course_df_set


# Call your function here
degree_set, meals_set, course_set = create_exam_sets()

### Exercise 10

Using the sets created above, write a function to find the number of students:
* Whose parents have a degree **and** also recieve free meals
* Who either completed the preparation course **or** whose parents have a degree but **not both**
* Whose parents have a degree **and** who completed the preparation course but **don't** receive free meals.
* Who don't have parents with a degree, nor receive free meals, nor completed the preparation course (Hint: You'll need to make a set of all the index values in the `exam_data` dataframe)

Expected Output:

135 <br>
472 <br>
90 <br>
259

In [ ]:
# Write your function here
def find_students(degree_set, meals_set, course_set, total_students):
    #Students whose parents have a degree and also receive free meals
    degree_and_meals = degree_set & meals_set

    #Students who either completed the preparation course or whose parents have a degree but not both
    degree_or_course_but_not_both = (degree_set ^ course_set)

    #Students whose parents have a degree and who completed the preparation course but don't receive free meals
    degree_and_course_no_meals = (degree_set & course_set) - meals_set

    #Students who don't have parents with a degree, nor receive free meals, nor completed the preparation course
    all_students_set = set(range(total_students))
    neither_degree_meals_nor_course = all_students_set - (degree_set | meals_set | course_set)

    # Print the results
    print(len(degree_and_meals))
    print(len(degree_or_course_but_not_both))
    print(len(degree_and_course_no_meals))
    print(len(neither_degree_meals_nor_course))


# Call the function
find_students(degree_set, meals_set, course_set, len(exam_data))

135
472
90
259